<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nakanoi.springer.mybatis.domain.mapper.MeetingRoomMapper">
    <resultMap id="roomResultMap" type="MeetingRoom">
        <id column="room_id" property="roomId" />
        <result column="room_name" property="roomName" />
    </resultMap>

    <select id="findOne" parameterType="string" resultType="MeetingRoom">
        SELECT
            room_id AS roomId,
            room_name AS roomName,
            capacity
        FROM
            meeting_rooms
        WHERE
            room_id = #{roomId}
    </select>

    <select id="findAll" resultType="MeetingRoom">
        SELECT
            room_id,
            room_name,
            capacity
        FROM
            meeting_rooms
        ORDER BY
            room_id
    </select>

    <select id="findAllByCriteria" resultType="MeetingRoom" resultMap="roomResultMap">
        SELECT
            room_id,
            room_name,
            capacity
        FROM
            meeting_rooms
        WHERE
            capacity >= #{criteria.capacity}
        ORDER BY
            ${orderByColumn}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM meeting_rooms
    </select>

    <select id="collectByCapacity" resultType="MeetingRoom" resultMap="roomResultMap">
        SELECT
            room_id,
            room_name,
            capacity
        FROM
            meeting_rooms
        WHERE
            capacity >= #{capacity}
    </select>

    <insert id="create">
        INSERT INTO meeting_rooms (room_id, room_name, capacity)
            VALUES (#{roomId}, #{roomName}, #{capacity})
    </insert>

    <insert id="createWithNullRoomId">
        <selectKey keyProperty="roomId" order="BEFORE" resultType="string">
            SELECT UUID()
        </selectKey>

        INSERT INTO meeting_rooms (room_id, room_name, capacity)
            VALUES (#{roomId}, #{roomName}, #{capacity})
    </insert>

    <update id="update" parameterType="MeetingRoom">
        UPDATE meeting_rooms SET
            room_name = #{roomName},
            capacity = #{capacity}
        WHERE
            room_id = #{roomId}
    </update>

    <delete id="delete">
        DELETE FROM meeting_rooms WHERE room_id = #{roomId}
    </delete>
</mapper>